* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

#color-picker {
    display: none;
}

.rainbow-gradient {
    background: transparent; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange, yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(
        to right,
        orange,
        yellow,
        green,
        cyan,
        blue,
        violet
    ); /* Standard syntax (must be last) */
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    user-select: none;

    #container {
        grid-column-start: 2;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        user-select: none;
        display: grid;
        width: 80vh;
        height: 80vh;
        grid-template-columns: repeat(16, auto);

        .grid-item {
            width: 100%;
            height: 100%;
            border: dotted rgba(0, 0, 0, 0.24) 1px;
            background-color: white;
        }

        .grid-item-noborder {
            @extend .grid-item;
            border: none;
        }
    }

    .instructions {
        box-shadow: 10px 5px #fff;
        align-self: center;
        user-select: text;
        padding-top: 10px;
        text-align: center;
        grid-column-start: 1;
        grid-row-start: 2;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        border: solid white 1px;
        width: 80%;
        height: 50%;

        h2 {
            font-size: 2em;
            background: -webkit-linear-gradient(rgb(119, 181, 240), rgb(105, 235, 105));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 1px 1px #fff;
        }

        ul {
            list-style: none;
            padding-top: 5%;
        }

        li {
            word-break: break-word;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            text-align: left;
        }
    }

    .options {
        @extend .instructions;
        grid-column-start: 3;
        grid-row-start: 2;

        button {
            font-family: Poppins;
            width: 30%;
            padding: 10px 10px 10px 10px;
            border-radius: 3px;
            border-width: 2px;
            background-color: transparent;
            color: white;
            text-shadow: 1px 1px #000;

            &:focus {
                outline: none;
            }
        }
    }

    h1 {
        text-shadow: 1px 2px #fff;
        user-select: text;
        grid-column-start: 2;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-top: 20px;
        font-size: 5rem;
        text-align: center;
        font-style: oblique;
        background: -webkit-linear-gradient(rgb(119, 181, 240), rgb(105, 235, 105));
        font-family: 'Italianno', cursive;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
