* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #141414;
  color: white;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

#color-picker {
  display: none;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main #container {
  -ms-grid-column: 2;
      grid-column-start: 2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -ms-grid;
  display: grid;
  width: 80vh;
  height: 80vh;
  -ms-grid-columns: (auto)[16];
      grid-template-columns: repeat(16, auto);
}

main #container .grid-item, main #container .grid-item-noborder {
  width: 100%;
  height: 100%;
  border: dotted rgba(0, 0, 0, 0.24) 1px;
  background-color: white;
}

main #container .grid-item-noborder {
  border: none;
}

main .instructions, main .options {
  -webkit-box-shadow: 10px 5px #fff;
          box-shadow: 10px 5px #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  padding-top: 10px;
  text-align: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border: solid white 1px;
  width: 80%;
  height: 50%;
}

main .instructions h2, main .options h2 {
  font-size: 2em;
  background: -webkit-linear-gradient(#77b5f0, #69eb69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px #fff;
}

main .instructions ul, main .options ul {
  list-style: none;
  padding-top: 5%;
}

main .instructions li, main .options li {
  word-break: break-all;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: left;
}

main .options {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

main .options button {
  font-family: Poppins;
  width: 30%;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  border-width: 2px;
  background-color: transparent;
  color: white;
}

main .options button:focus {
  outline: none;
}

main h1 {
  text-shadow: 1px 2px #fff;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  -ms-grid-column: 2;
      grid-column-start: 2;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 20px;
  font-size: 5rem;
  text-align: center;
  font-style: oblique;
  background: -webkit-linear-gradient(#77b5f0, #69eb69);
  font-family: 'Italianno', cursive;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*# sourceMappingURL=style.css.map */