* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    height: 100vh;
}

#color-picker {
    display: none;
}

.rainbow-gradient {
    background: transparent;
    background: -webkit-linear-gradient(
        left,
        rgb(240, 100, 90),
        yellow,
        rgb(72, 207, 72),
        rgb(51, 182, 164),
        rgb(80, 80, 228),
        violet
    ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(
        right,
        rgb(240, 100, 90),
        yellow,
        rgb(72, 207, 72),
        rgb(51, 182, 164),
        rgb(80, 80, 228),
        violet
    ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(
        right,
        rgb(240, 100, 90),
        yellow,
        rgb(72, 207, 72),
        rgb(51, 182, 164),
        rgb(80, 80, 228),
        violet
    ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(
        to right,
        rgb(240, 100, 90),
        yellow,
        rgb(72, 207, 72),
        rgb(51, 182, 164),
        rgb(80, 80, 228),
        violet
    );
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    user-select: none;

    #container {
        grid-column-start: 2;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        user-select: none;
        display: grid;
        width: 80vh;
        height: 80vh;

        .grid-item {
            width: 100%;
            height: 100%;
            border: dotted rgba(0, 0, 0, 0.24) 1px;
            background-color: white;
        }

        .grid-item-noborder {
            @extend .grid-item;
            border: none;
        }
    }

    .instructions {
        box-shadow: 10px 5px #fff;
        align-self: center;
        user-select: text;
        padding-top: 10px;
        text-align: center;
        grid-column-start: 1;
        grid-row-start: 2;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40%;
        border: solid white 1px;
        width: 80%;
        height: 55%;
        font-size: 1.75vh;

        h2 {
            font-size: 2em;
            background: -webkit-linear-gradient(rgb(119, 181, 240), rgb(105, 235, 105));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 1px 1px #fff;
        }

        ul {
            list-style: none;
            padding-top: 7%;
        }

        li {
            word-break: break-word;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            text-align: left;
        }
    }

    .options {
        @extend .instructions;
        grid-column-start: 3;
        grid-row-start: 2;
        width: 60%;
        height: 70%;
        margin-top: 26%;
        margin-bottom: unset;

        button {
            font-family: Poppins;
            width: 50%;
            padding: 10px 10px 10px 10px;
            margin-left: 24%;
            border-radius: 3px;
            border-width: 2px;
            background-color: transparent;
            color: white;
            text-shadow: 1px 1px #000;
            font-size: 1.75vh;

            &:focus {
                outline: none;
            }

            &:hover {
                cursor: pointer;
                font-size: 1.1rem;
            }
        }

        h2 {
            padding-bottom: 5%;
            padding-right: 3.5%;
        }
    }

    h1 {
        text-shadow: 1px 2px #fff;
        user-select: text;
        grid-column-start: 2;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-top: 20px;
        font-size: 5rem;
        text-align: center;
        font-style: oblique;
        background: -webkit-linear-gradient(rgb(119, 181, 240), rgb(105, 235, 105));
        font-family: 'Italianno', cursive;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .slidecontainer {
        width: 25%; /* Width of the outside container */
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        padding-top: 1.5vh;
        justify-self: end;
    }

    /* The slider itself */
    .slider {
        -webkit-appearance: none; /* Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: 15px; /* Specified height */
        background: rgb(20, 20, 20); /* Grey background */
        border: solid #fff 2px;
        outline: none; /* Remove outline */
        opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
        transition: opacity 0.2s;

        &:hover {
            opacity: 1; /* Fully shown on mouse-over */
        }

        /* Mouse-over effects */

        /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
        &::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 25px; /* Set a specific slider handle width */
            height: 25px; /* Slider handle height */
            border-style: solid;
            border-color: rgb(20, 20, 20);
            border-width: 1.5px;
            border-radius: 50%;
            background: #fff; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }

        &::-moz-range-thumb {
            width: 25px; /* Set a specific slider handle width */
            height: 25px; /* Slider handle height */
            border-style: solid;
            border-color: rgb(20, 20, 20);
            border-width: 1.5px;
            border-radius: 50%;
            background: #fff; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }
    }
}
